.header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
  height: 60px;
  background-color: $dark;
  align-items: center;

  * {
    margin: 0 0.2em;
  }
  img {
    height: 80%;
    padding: 0.5em;
  }

  p {
    color: white;
    font-size: 1.3em;
    text-align: center;
  }

  .hamburger {
    display: flex;
    margin: 0 2em;
    flex-direction: column;
    .burger-piece {
      background-color: grey;
      margin: 0.2em 0.1em;
      width: 1.3em;
      height: 0.25em;
      border-radius: 2px;
    }
  }
  .search {
    input {
      border: none;
      padding: 0.5em;
      line-height: 1.5rem;
    }
    [type="text"] {
      width: 15em;
    }
  }
}
