.main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  padding: 0.25rem;
  .userroles {
    display: flex;
    flex-wrap: wrap;

    .team {
      display: block;
      padding: 0.3em;
      background-color: $team1;
      color: white;
      margin-left: 0.5em;
    }
    .role {
      display: block;
      padding: 0.3em;
      background-color: $role1;
      color: white;
      margin-left: 0.5em;
    }
  }

  .title {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    margin-bottom: 1em;
  }
  h1 {
    font-weight: 200;
    margin-right: 1em;
  }

  .dashboard {
    display: flex;
    width: 100%;
    overflow: auto;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  [class$="space"] {
    min-width: 15em;
    margin-top: 1em;
    width: 100%;
    padding: 0;
    height: 60vh;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    background-color: white;
    overflow: auto;
  }
}

@media (min-width: 480px) {
  .main {
    padding: 1em;
    [class$="space"] {
      width: 90%;
    }
  }
}

@media (min-width: 1000px) {
  .main {
    padding: 2.5rem;
    align-items: space-between;
    [class$="space"] {
      max-width: 45em;
      width: 50%;
    }
  }
}

@import "recentlogs";
@import "shortcutlist";
