.logitem {
  width: 100%;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  background-color: white;
  margin: 0;
  min-height: 7em;
  display: flex;
  padding: 0.5em;
  justify-content: space-between;

  .item-wrapper {
    display: flex;
    flex-wrap: wrap;

    * {
      color: black;
    }

    h3 {
      display: block;
      text-decoration: none;
      width: 100%;
      margin-bottom: 0.5em;
      font-size: 1.8rem;
    }

    p {
      width: 5em;
      display: flex;
      flex-wrap: wrap;
      text-align: center;
      align-items: center;
      justify-content: center;
      span:nth-of-type(1) {
        width: 100%;
        margin-bottom: 0.25em;
      }
      span:nth-of-type(2) {
        background-color: $neutral;
        padding: 0.25em;
        border-radius: 5px;
        color: white;
        min-width: 95%;
        margin-bottom: 0.25em;
      }
    }
  }
  i {
    width: auto;
    font-size: 3em;
    font-family: sans-serif;
    color: rgba(0, 0, 0, 0.5);
    padding-right: 0.5em;
  }
}
