.rightspace {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  .shortcut {
    width: 50%;
    padding: 0 0.5em;
    height: 5em;
    a {
      display: block;
      margin-bottom: 0.5em;
      margin-top: 0.5em;
      width: 100%;
      height: 100%;
      font-size: 1.2em;
      text-align: center;
      border: none;
      color: white;
      border-radius: 5px;
      transition: all 0.15s linear;
    }

    .positive {
      background-color: $positive;
    }

    .neutral {
      background-color: $neutral;
    }

    .important {
      background-color: $important;
      color: $dark;
    }

    a:active {
      transition: all 0.15s linear;
      background-color: $dark;
      color: white;
    }
  }
}
